asgiref==3.6.0
beautifulsoup4==4.11.1
dj-database-url==1.2.0
Django==4.1.5
django-bootstrap==0.2.4
django-bootstrap4==22.3
django-heroku==0.3.1
gunicorn==20.1.0
psycopg2==2.9.5
soupsieve==2.3.2.post1
sqlparse==0.4.3
tzdata==2022.7
whitenoise==6.3.0
